:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
-moz-osx-font-smoothing: grayscale;
}




.navbar{
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid whitesmoke;
 
  
}

.navbar h4{
  color: black;
  margin-right: 50vw;
  margin-left: 10px;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar button{
  margin: 20px;

  border-radius: 16px;
  width: 16rem;
  height: 2rem;
  
}

.navbar input{
  border: none;
  background-color: transparent;
}

.navbar div.heart{
  height: 4rem;
  width: 2rem;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-left:350px;



}
figcaption {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}



.stories {
  margin:0px;
  display: flex;
  width:10vw;
  
}

h1 {
  font-size: 3.2em;
  
  
}





.card{
flex-direction: column;
flex-wrap: nowrap;
margin: 40px;


}

.stories {
  box-shadow: 0, 0, 25 black;
  min-height: 10vh;
}


.card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card img {
 
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 0.15s;
  transition: border-color 0.25s;
}
.card img:hover {
  border: dotted;
  border-color: red;
}

.pages{
  margin: 2px;
  height: 8vh;
  border: 1px solid white;
  border-radius: 50%;
  top: 0px;
  width: auto;
}

.pages button{
  border-radius: 12px;
  padding:1px ;
  will-change: filter;
  transition: filter 300ms;
}

.pages button {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.pages button {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
